@{
    ViewData["Title"] = "Acceso no permitido";
    Layout = "~/Views/Shared/_LayoutLandingPage.cshtml";

}

<center>
    <h2>¡Ups, no tienes los permisos adecuados !</h2>
    <img src="~/pages/images/ErrorAcceso.png" width="780"
         height="561" />
</center>
