@model FacturacionViewModel


@{
    var Facturacion = Model.Facturacion;
    ViewData["Title"] = "Editar Facturas";
    Layout = "~/Views/Shared/_LayoutLandingPage.cshtml";
}

<div class="card shadow mb-4">
    <!--<div class="card-header py-3 bg-primary">-->
    <div class="card-header py-3 bg-info">
        <h6 class="m-0 font-weight-bold text-white">Editar Factura</h6>
    </div>
    <div class="card-body">


        <div class="row">
            <div class="col-md-15">
                <form asp-action="RegistrarF">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="col-xs-10 col-sm-10 col-md-4">
                        <div class="form-group">
                            <label asp-for="Facturacion.ClienteIdCliente" class="control-label">Cedula del cliente</label>
                            <input asp-for="Facturacion.ClienteIdCliente" class="form-control" />
                            <span asp-validation-for="Facturacion.ClienteIdCliente" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-xs-10 col-sm-10 col-md-4">
                        <div class="form-group">
                            <label asp-for="Facturacion.NombreDueño" class="control-label">Nombre del cliente</label>
                            <input asp-for="Facturacion.NombreDueño" class="form-control" />
                            <span asp-validation-for="Facturacion.NombreDueño" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-xs-10 col-sm-10 col-md-4">
                        <div class="form-group">
                            <label asp-for="Facturacion.EmpleadoId" class="control-label">Nombre del Empleado</label>
                            <input asp-for="Facturacion.EmpleadoId" class="form-control" />
                            <span asp-validation-for="Facturacion.EmpleadoId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-xs-10 col-sm-10 col-md-4">
                        <div class="form-group">
                            <label asp-for="Facturacion.Detalle" class="control-label"></label>
                            <input asp-for="Facturacion.Detalle" class="form-control" type="password" />
                            <span asp-validation-for="Facturacion.Detalle" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-xs-10 col-sm-10 col-md-4">
                        <div class="form-group">
                            <label asp-for="Facturacion.TipoPago" class="control-label">Tipo de pago</label>
                            <span asp-validation-for="Facturacion.TipoPago" class="text-danger"></span>
                            <select name="Facturacion.TipoPago" asp-for="Facturacion.TipoPago" id="TipoPago" class="browser-default custom-select">
                                <option value="Pago con tarjeta">Pago con tarjeta</option>
                              
                                <option value="Pago en efectivo">Pago en efectivo</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-10 col-sm-10 col-md-4">
                        <div class="form-group">
                            <label asp-for="Facturacion.Total" class="control-label"></label>
                            <input asp-for="Facturacion.Total" placeholder="Total a cobrar" class="form-control" min="1" autocomplete="off" />
                            <span asp-validation-for="Facturacion.Total" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            <input type="submit" value="Modificar factura" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

          <div class="col-xs-12 col-sm-12 col-md-12">
               <div class="form-group">
            <a class="btn btn-danger" asp-action="Index">Lista de facturas</a>
               </div>
         </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
